html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    background-color: var(--background-header);
    padding-top: 120px;
}
:root {
    --background-header: #ffffff;
    --cloud: #F4F4FD;
    --background-body: #E5E5E5;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --CORNFLOWER: #E7E9FC;
    --iris: #4D5AE5;
    --ocean: #404BBF;
/* h2,h3, NAV - NAVY BLUE */
/* ADRESS,P - SLATE */
/* WEB, button - IRIS */
/* button filters - ocean */
}
body {
    font-family: Roboto, sans-serif;
    background-color: var(--background-header);
    color: var(--slate);
}
a {
    text-decoration: none;
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    outline: 1px solid red;
    background-color: var(--background-header);
}
.logo {
    outline: 1px solid red;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--navy-blue);
}
.accent {
    color: var(--iris);
}
.nav {
    padding: 0px;
    outline: 1px solid red;
    list-style: none;
    color: var(--navy-blue);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts {
    display: flex;
    gap: 40px;
}
.contacts >a {
    outline: 1px solid red;
    color: var(--slate);    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.hero {
    /* display: inline-block; */
    text-align: center;
    padding-top: 192px; 
    padding-bottom: 192px;
    background-color: var(--navy-blue);
    outline: 1px solid red;
}
.hero-content {    
    padding: 192px 474px;
}
.hero-title {
    width: 492px;
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--background-header);
    margin: 0px auto;
}
.hero-button {
    outline: 1px solid red;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: var(--iris);
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    font-style: normal;
    color: var(--background-header);
}
.advantage {
    outline: 1px solid red;
    margin-bottom: 0px;
}
.advantage h2 {
    display: none;
}
.advantage h2, ul {
    margin: 0px;
    padding: 0px;
}
.advantage-list {
    outline: 1px solid red;
    list-style: none;
    width: 264px;
}
.advantage-list >ul {
    margin: 0px;
}
.advantage-icon {
    outline: 1px solid red;
    width: 264px;
    background: var(--cloud);
    border-radius: 4px;
}
.team-name,
.advantage-title {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);    
}
.advantage-title {
    margin-top: 8px;
    margin-bottom: 0px;
}
.team-name {
    text-align: center;
    margin: 0px;
}
.text {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    margin-top: 8px;
    margin-bottom: 0px;
}
.doing {
    outline: 1px solid red;
    background-color: var(--background-body);
}
.doing >ul {
    margin: 0px;
    padding: 0px;
}
.doing-list {
    outline: 1px solid red;
    list-style: none;
    width: 360px;
} 
.team {
    /* display: inline-block; */
    outline: 1px solid red;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--cloud);
}
.team >ul {
    outline: 1px solid red;
    list-style: none;
    margin-top: 72px;
}
.team-list {
    align-items: center;
    padding: 0px 0px 32px;
    background: var(--background-header);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    outline: 1px solid red;
    list-style: none;
}
.team-images {
    outline: 1px solid red;

}
.team-card {
    outline: 1px solid red;
    padding: 0px;
    width: 232px;
    margin: 32px 16px;
}
.team-card >.text {    
    text-align: center;    
}
.team-nav {
    outline: 1px solid red;
    align-items: center;
    padding: 4px 0px;
    margin-top: 8px;
    list-style: none;
}
.clients {
    outline: 1px solid red;
    background-color: var(--background-body);
}
.title {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--navy-blue);
    margin: 0px;
}
.clients-list {
    outline: 1px solid red;
    list-style: none;
    padding: 0px;
    margin-top: 72px;
    margin-bottom: 0px;
}
.clients-icon {
    width: 168px;
    outline: 1px solid red;
    border: 1px solid #8E8F99;
    border-radius: 4px;
  }
.footer {
    /* display: inline-block; */
    outline: 1px solid red;
    background-color: var(--navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-text {
    outline: 1px solid red;
    width: 264px;
}
.footer-logo {
    outline: 1px solid red;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--cloud);
}
.address {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CORNFLOWER);
    margin-top: 16px;
}
.social {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-header);
    margin: 0px;
}
.footer-nav {
    outline: 1px solid red;
    display: flex;
    list-style: none;
    padding: 0px;
    margin-top: 16px;
    margin-bottom: 0px;
}
.footer-flex {
    display: flex;
    gap: 120px;
}
.filters {
    outline: 1px solid red;
    margin-top: 96px;
    width: 586px;
    padding: 0;
}
.filters-title {
    display: none;
    margin: 0px;
    align-items: center;
}
.filters-list {
    outline: 1px solid red;
    list-style: none;
}
.filters-marketing,
.filters-design,
.filters-app,
.filters-website {
    outline: 1px solid red;
    color: var(--iris);
    background-color: var(--cloud);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    font-style: normal;
    padding: 12px 24px;
}
.filters-all {
    outline: 1px solid red;
    background: var(--ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--background-header);
    padding: 12px 24px;
}
.projects {
    outline: 1px solid red;
    margin-top: 72px;
}
.projects >h2 {
    display: none;
    margin: 0px;
}
.projects-list {
    list-style: none;
}
.projects-section {
    outline: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}
.projects-card {
    outline: 1px solid red;
    box-sizing: border-box;
    width: 360px;
    background: var(--background-header);    
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    list-style: none;
}
.projects-cardcontent {
    outline: 1px solid red;
    padding: 0px 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.projects-title {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin: 0px;
}
.projects-text {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;   
    letter-spacing: 0.02em;
    color: var(--slate);
    margin-top: 8px;
    margin-bottom: 0px;
}
.card-set {
    display: flex;
    justify-content: space-between;
    flex-basis: calc((100%-96)/5);
    flex-direction: row;
    /* align-items: flex-start; */
    padding: 0px;
}
.menunav {
    display: flex;
    gap: 40px;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    
}
.header-nav-flex {
    display: flex;
    gap: 76px;

}
.main-flex {
    display: flex;
    gap: 24px;
}
