html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    background-color: var(--background-header);
    padding-top: 120px;
}
:root {
    --background-header: #ffffff;
    --cloud: #F4F4FD;
    --background-body: #E5E5E5;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --CORNFLOWER: #E7E9FC;
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --LIGHT_SLATE: #8e8f99;
/* h2,h3, NAV - NAVY BLUE */
/* ADRESS,P - SLATE */
/* WEB, button - IRIS */
/* button filters - ocean */
}
body {
    font-family: Roboto, sans-serif;
    background-color: var(--background-header);
    color: var(--slate);
    width: 1440px;
}
a {
    text-decoration: none;
}
.header {
    padding-top: 24px;
    /* outline: 1px solid red; */
    /* padding-bottom: 24px; */
    background: var(--background-header);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
    /* outline: 1px solid red; */
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--navy-blue);
}
.accent {
    color: var(--iris);
}
 .menunav .activ {
    opacity: 1;
    color: var(--ocean);
}
.menunav {
    display: flex;
    gap: 40px;
}
.menunav-studio,
.menunav-portfolio,
.menunav-contacts {
    position: relative;
    height: 52px;
}
.menunav-studio:hover .nav-studio,
.menunav-studio:focus .nav-studio {
    opacity: 1;
}
.menunav-studio:hover .nav,
.menunav-studio:focus .nav
 {
    color: var(--ocean);
}
.menunav-portfolio:hover .nav-portfolio,
.menunav-portfolio:focus .nav-portfolio {
    opacity: 1;
}
.menunav-portfolio:hover .nav,
.menunav-portfolio:focus .nav {
    color: var(--ocean);
}
.menunav-contacts:hover .nav-contacts,
.menunav-contacts:focus .nav-contacts {
    opacity: 1;
}
.menunav-contacts:hover .nav,
.menunav-contacts:focus .nav {
    color: var(--ocean);
}
.nav {
    padding: 0px;
    /* outline: 1px solid red; */
    list-style: none;
    color: var(--navy-blue);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 48px;
}
.line {
    position: absolute;
    height: 4px;
    left: 0;
    top: 48px;
    
    background: var(--ocean);
    border-radius: 2px;
    opacity: 0;
    
}
.nav-studio {
    width: 48px;
}
.nav-portfolio {
    width: 66px;
}
.nav-contacts {
    width: 67px;
}
.contacts {
    display: flex;
    gap: 40px;
}
.contacts >a {
    /* outline: 1px solid red; */
    color: var(--slate);    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts-mail:hover,
.contacts-mail:focus {
    color: var(--ocean);
}
.hero {
    /* display: inline-block; */
    max-width: 1440px;
    text-align: center;
    padding-top: 192px; 
    padding-bottom: 192px;
    background-color: var(--navy-blue);
    /* outline: 1px solid red; */
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
     url(../images/people-office1.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}
.hero-content {    
    padding: 192px 474px;
}
.hero-title {
    width: 492px;
    /* outline: 1px solid red; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--background-header);
    margin: 0px auto;
}
.hero-button {
    /* outline: 1px solid red; */
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: var(--iris);
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    font-style: normal;
    color: var(--background-header);
}
.hero-button:active {
    background-color: var(--ocean);
}
.advantage {
    /* outline: 1px solid red; */
    margin-bottom: 0px;
}
.main-flex {
    display: flex;
    gap: 24px;
}
.advantage h2 {
    display: none;
}
.advantage h2, ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.advantage-list {
    display: block;
    width: 264px;
    height: 112px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 4px;
    background-color: var(--cloud);
    background-repeat: no-repeat;
    background-position: center;
}
.team-name,
.advantage-title {
    /* outline: 1px solid red; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);    
}
.advantage-title {
    margin-top: 8px;
    margin-bottom: 0px;
}
.team-name {
    text-align: center;
    margin: 0px;
}
.text {
    /* outline: 1px solid red; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    margin-top: 8px;
    margin-bottom: 0px;
}
.doing {
    /* outline: 1px solid red; */
    /* background-color: var(--background-body); */
}
.doing >ul {
    margin: 0px;
    padding: 0px;
    margin-top: 72px;
}
.doing-list {
    /* outline: 1px solid red; */
    list-style: none;
    width: 360px;
} 
.team {
    /* display: inline-block; */
    /* outline: 1px solid red; */
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--cloud);
}
.team >ul {
    /* outline: 1px solid red; */
    list-style: none;
    margin-top: 72px;
}
.team-list {
    align-items: center;
    padding: 0px 0px 32px;
    background: var(--background-header);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    /* outline: 1px solid red; */
    list-style: none;
}
.team-images {
    /* outline: 1px solid red; */

}
.team-card {
    /* outline: 1px solid red; */
    padding: 0px;
    width: 232px;
    margin: 32px 16px;
}
.team-card >.text {    
    text-align: center;    
}
.team-nav {
    /* outline: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
    margin-top: 8px;
    list-style: none;
}
.clients {
    /* outline: 1px solid red; */
    /* background-color: var(--background-body); */
}
.title {
    /* outline: 1px solid red; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--navy-blue);
    margin: 0px;
}
.clients-list {
    /* outline: 1px solid red; */
    list-style: none;
    padding: 0px;
    margin-top: 72px;
    margin-bottom: 0px;
}
.clients-card {
    width: 168px;
    height: 88px;
    /* outline: 1px solid red; */
    fill: #8E8F99;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px 32px;
} 
.clients-card:hover,
.clients-card:focus {
    fill: var(--ocean);
    border-color: var(--ocean);
}
.footer {
    /* display: inline-block; */
    /* outline: 1px solid red; */
    background-color: var(--navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-text {
    /* outline: 1px solid red; */
    width: 264px;
}
.footer-logo {
    /* outline: 1px solid red; */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--cloud);
}
.address {
    /* outline: 1px solid red; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CORNFLOWER);
    margin-top: 16px;
}
.soc {
    margin-left: 120px;
}
.social {
    /* outline: 1px solid red; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-header);
    margin: 0px;
}
.footer-nav {
    /* outline: 1px solid red; */
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0px;
    margin-top: 16px;
    margin-bottom: 0px;
}
.nav-social {
    fill: rgba(255, 255, 255, 0.1);
}
.nav-social:hover {
    fill: #31D0AA;
}
.nav-social:focus {
    fill: #31D0AA;
}
.sub {
    margin-left: 80px;
}
.subscribe {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.02em;
        
    color: var(--background-header);
    margin: 0;
}
.subscribe-flex {
    display: flex;
    padding-top: 16px;
    gap: 24px;
}
.subscribe-button {
    /* display: block; */
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 2;    
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    
    color: var(--background-header);
    width: 264px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid var(--background-header);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

}
.subscribe-button-subscribe {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
        
    color: var(--background-header);
    flex-direction: row;
    justify-content: center;
    padding: 8px 24px;
    gap: 16px;
    background: var(--iris);
    border-radius: 4px;
}
.subscribe-button-subscribe::after {
    content: url(/images/icon_send.svg);
    width: 24px;
    height: 20px;
}
.footer-flex {
    display: flex;
}
.filters {
    /* outline: 1px solid red; */
    margin-top: 96px;
    width: 586px;
    padding: 0;
}
.filters-title {
    display: none;
    margin: 0px;
    align-items: center;
}
.filters-list {
    /* outline: 1px solid red; */
    list-style: none;
}
.filters-all,
.filters-marketing,
.filters-design,
.filters-app,
.filters-website {
    /* outline: 1px solid red; */
    color: var(--iris);
    background-color: var(--cloud);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    font-style: normal;
    padding: 12px 24px;
    border: 1px solid var(--CORNFLOWER);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.filters-all:hover,
.filters-website:hover,
.filters-app:hover,
.filters-design:hover,
.filters-marketing:hover,
.filters-all:focus,
.filters-website:focus,
.filters-app:focus,
.filters-design:focus,
.filters-marketing:focus {
    /* outline: 1px solid red; */
    background: var(--ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--background-header);
    padding: 12px 24px;
}
.projects {
    /* outline: 1px solid red; */
    margin-top: 72px;
}
.projects >h2 {
    display: none;
    margin: 0px;
}
.projects-list {
    list-style: none;
}
.projects-section {
    /* outline: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}
.projects-card {
    /* outline: 1px solid red; */
    box-sizing: border-box;
    width: 360px;
    background: var(--background-header);    
    border: 1px solid var(--CORNFLOWER);
}
.projects-card:hover,
.projects-card:focus {
    border: 1px solid var(--cloud);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-images {
    display: inline-block;

}
.projects-cardcontent {
    /* outline: 1px solid red; */
    padding: 0px 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.projects-title {
    /* outline: 1px solid red; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin: 0px;
}
.projects-text {
    /* outline: 1px solid red; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;   
    letter-spacing: 0.02em;
    color: var(--slate);
    margin-top: 8px;
    margin-bottom: 0px;
}
.projects-card div {
    position: relative;
}
.projects-images-content {
    display: block;
    margin: 0;
    padding: 40px 32px 164px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.02em;
    
    color: var(--cloud);
    
    position: absolute;
    width: 360px;
    height: 300px;
    left: 0px;
    top: 0px;
    
    background-color: var(--iris);
    background-blend-mode: soft-light;
    mix-blend-mode: normal;
    opacity: 0;
}
.projects-images-content:hover,
.projects-images-content:focus {
    opacity: 1;
}
.card-set {
    display: flex;
    justify-content: space-between;
    flex-basis: calc((100%-96)/5);
    flex-direction: row;
    /* align-items: flex-start; */
    padding: 0px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    
}
.header-nav-flex {
    display: flex;
    gap: 76px;

}
.backdrop {
    position: fixed;
    background: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;   
    top: 0;
    left: 0;
}
.backdrop.is-hidden {
    opacity: 0;
}
.modal {
    position: absolute;
    width: 408px;
    height: 584px;
    left: 516px;
    top: 80px;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 24px;
    
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14));
}
.clic {
    display: block;
    margin-left: auto;
}
.modal-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;    
    text-align: center;
    letter-spacing: 0.02em;
    
    color: var(--navy-blue);
    margin-top: 24px;
    margin-bottom: 0;
}
.modal-name,
.modal-phone,
.modal-email,
.modal-comment {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;    
    letter-spacing: 0.04em;
    
    color: var(--LIGHT_SLATE);
    margin-top: 8px;
    margin-bottom: 0;
    
}
.modal .modal-name {
    margin-top: 16px;
}
.modal .modal-name-button {
    display: flex;
    align-items: center;
    gap: 7px;
    border: 1px solid var(--iris);
}
.modal-name-button,
.modal-phone-button,
.modal-email-button {        
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    
    margin-top: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
}
.modal-comment-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;    
    letter-spacing: 0.04em;
    
    /* NAVY BLUE modal */
    
    color: rgba(46, 47, 66, 0.4);
    width: 360px;
    height: 120px;
    padding-top: 8px;
    padding-left: 16px;
    left: 0px;
    top: 216px;
    
    /* NAVY BLUE modal */
    
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
}
.modal-comment-button p {
    margin: 0;
}
   
.icon-line {
    color: var(--navy-blue);
}
.modal-flex {
    margin-top: 16px;
    display: flex;
    gap: 8px;
    align-items: flex-end;
}
.modal-checkbox {
    box-sizing: border-box;
    
    width: 16px;
    height: 16px;
    
    /* NAVY BLUE modal */
    
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
}
.modal-flex-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;    
    letter-spacing: 0.04em;
    margin: 0;
    
    color: var(--LIGHT_SLATE);
}
.modal-polici {
    color: var(--iris);
    text-decoration:underline;
}
.send {
    width: 169px;
    height: 56px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    
    display: flex;
    justify-content: center;
    letter-spacing: 0.04em;
    
    color: var(--background-header);
            
    background: var(--iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


