html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
:root {
    --background-header: #ffffff;
    --cloud: #F4F4FD;
    --background-body: #E5E5E5;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --CORNFLOWER: #E7E9FC;
    --iris: #4D5AE5;
    --ocean: #404BBF;
/* h2,h3, NAV - NAVY BLUE */
/* ADRESS,P - SLATE */
/* WEB, button - IRIS */
/* button filters - ocean */
}
a {
    text-decoration: none;
}
.header {
    outline: 1px solid red;
    width: 1440px;
    padding: 24px 156px;
    background-color: var(--background-header);
}

.team {
    outline: 1px solid red;
    background-color: var(--cloud);
}

.logo {
    outline: 1px solid red;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--navy-blue);
}
.accent {
    color: var(--iris);
}
.nav {
    padding: 0px;
    outline: 1px solid red;
    list-style: none;
    color: var(--navy-blue);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts >a {
    outline: 1px solid red;
    color: var(--slate);    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.hero {
    width: 1440px;
    height: 603px;
    background-color: var(--navy-blue);
    outline: 1px solid red;
    padding: 192px 474px;
}
.hero-title {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-header);
    margin: 0px;
}
.hero-button {
    outline: 1px solid red;
   
}


.advantage {
    outline: 1px solid red;
    width: 1128px;
    margin-top: 120px;
    margin-bottom: 0px;
    padding: 0;

}
.advantage h2, ul {
    margin: 0px;
    padding: 0px;

}
.advantage-list {
    outline: 1px solid red;
    list-style: none;
    width: 264px;
}
.advantage-list >ul {
    margin: 0px;
}
.advantage-icon {
    outline: 1px solid red;
    width: 264px;
    background: var(--cloud);
    border-radius: 4px;
}
.advantage-title {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-top: 8px;
    margin-bottom: 0px;
}
.advantage-text {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    margin-top: 8px;
    margin-bottom: 0px;
}
.doing {
    outline: 1px solid red;
    background-color: var(--background-body);
    margin-top: 120px;
    width: 1128px;
    padding: 0px;
}
.doing >ul {
    margin: 0px;
    padding: 0px;
}
.doing-title {
    outline: 1px solid red;
    margin: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.doing-list {
    outline: 1px solid red;
    list-style: none;
    width: 360px;

} 
.team {
    outline: 1px solid red;
    width: 1440px;
    padding: 120px 156px;
    background-color: var(--cloud);
    margin-top: 120px;
}
.team >ul {
    outline: 1px solid red;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 72px;
}
.team-title {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding: 0px;
    margin: 0px;
}
.team-list {
    align-items: center;
    padding: 0px 0px 32px;
    background: var(--background-header);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    outline: 1px solid red;
    list-style: none;
}
.team-images {
    outline: 1px solid red;

}
.team-card {
    outline: 1px solid red;
    padding: 0px;
    width: 232px;
    margin: 32px 16px;
}
.team-name {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding: 0px;
    margin: 0px;
}
.team-prof {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--slate);
    margin-top: 8px;
    margin-bottom: 0px;
}
.team-nav {
    outline: 1px solid red;
    align-items: center;
    padding: 4px 0px;
    margin-top: 8px;
    list-style: none;
}
.clients {
    outline: 1px solid red;
    background-color: var(--background-body);
    width: 1128px;
    padding: 0px;
    margin-top: 120px;

}
.clients-title {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--navy-blue);
    margin: 0px;
}
.clients-list {
    outline: 1px solid red;
    list-style: none;
    padding: 0px;
    margin-top: 72px;
    margin-bottom: 0px;
}
.clients-icon {
    width: 168px;
    outline: 1px solid red;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    
}
.footer {
    outline: 1px solid red;
    background-color: var(--navy-blue);
    width: 1440px;
    margin-top: 120px;
    padding: 100px 156px;
}
.footer-text {
    outline: 1px solid red;
    width: 264px;

}
.footer-logo {
    outline: 1px solid red;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--cloud);
}
.address {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CORNFLOWER);
}
.social {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-header);
    margin: 0px;
}
.footer-nav {
    outline: 1px solid red;
    list-style: none;
    padding: 0px;
    margin-top: 16px;
    margin-bottom: 0px;

}
.filters {
    outline: 1px solid red;
    margin-top: 96px;
}
.filters-title {
    margin: 0px;
    align-items: center;
}
.filters-list {
    outline: 1px solid red;
    list-style: none;
}
.filters-marketing,
.filters-design,
.filters-app,
.filters-website {
    outline: 1px solid red;
    color: var(--iris);
    background-color: var(--cloud);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    font-style: normal;
    padding: 12px 24px;
}
.filters-all {
    outline: 1px solid red;
    background: var(--ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--background-header);
    padding: 12px 24px;
}
.projects {
    outline: 1px solid red;
    margin-top: 72px;
}
.projects >h2 {
    margin: 0px;
}
.projects-list {
    list-style: none;
}
.projects-section {
    outline: 1px solid red;
    width: 1128px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}
.projects-card {
    outline: 1px solid red;
    box-sizing: border-box;
    width: 360px;
    background: var(--background-header);    
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    list-style: none;
}

.projects-cardcontent {
    outline: 1px solid red;
    padding: 0px 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.projects-title {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin: 0px;
}
.projects-text {
    outline: 1px solid red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;   
    letter-spacing: 0.02em;
    color: var(--slate);
    margin-top: 8px;
    margin-bottom: 0px;
}